article h1 {
    // border-bottom: 2px solid #14284D;
    border-bottom: 2px solid #252621;
    
}

article h2 {
    border-bottom: 1px solid #50601e;
}

article h3 {
    border-bottom: 0.5px solid #81886c;
}

img {
    margin-left: auto;
    margin-right: auto;
}

@media print {
    html {
        font-family: 'Kelmscott Roman NF', 'Noto Serif JP', serif;
    }

    body {
        font-family: 'Classico URW T OT', 'Noto Serif JP', serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    label {
        font-family: 'Gentium Book Basic', 'Helvetica Neue', Helvetica, Arial, 'Noto Sans JP', 'Roboto', sans-serif;
    }
}